
/*import Google font*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Playfair+Display:400,400i,700,700i,900,900i|Open+Sans'); 

/* Theme Variables */ 
$font-family-base: 'Open Sans', sans-serif !default;
$headings-font-family: 'Playfair Display',serif !default;
$subheadings-font-family: 'Great Vibes' !default;

$primary: #e07155 !default;
$secondary: #d9b541 !default;
$tertiary: #59544c !default;
$dark: #111111 !default;
$font-size-base: 0.9rem !default;
$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;
$btn-font-weight: 500 !default;
