/*	FOOTER BLOCK 02-01
/*----------------------------------------------------*/
.footer-02-01 {
    background-color: $dark;
    padding: 15px 0 10px 0;
    color: $white;
	
	.footer-logo {
		max-width: 100px;
		max-height: 90px;
		-webkit-filter: grayscale(100%);
		filter: grayscale(0%);
	}
	a{
	&:hover{
			color:$white;
		}
	}
}