/* 
/*	BACKGROUND WRAPPER
/*----------------------------------------------------*/
.background-wrapper {
    &.cover {
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }

    &.full-height {
        height: 100%;
    }
}